[user]
  name = Michał Bugno
  email = michal.bugno@gmail.com

[color]
  ui = true

[alias]
  d = diff
  s = status
  st = status
  c = commit
  l = log --abbrev-commit --graph --format='%Cgreen%h %Cblue%ad%Cred%d %Creset%s %Cgreen%an' --decorate=short --date=short
  g = grep
  p = push

[push]
  default = upstream # when git push, pushes only current branch to upstream

[help]
  autocorrect = 1
